<% provide(:title, "#{current_user.name}")%>
<h1 class="title">User Profile</h1>
<ul>
  <li><%= link_to('Edit Profile', edit_user_registration_path) %></li>
  <li><%= link_to('Your Orders', orders_path)%>
  <li><%= link_to('Add Address', address_path)%>
  <li><%= link_to('Sell an Item', product_path)%>
</ul>
