@import "bulma";

body {
  background-color: #f4f4f4;

}

a {
  color: white; 
  &:hover {
    color: white;
  }
}

.hover-color {
  &:hover {
    opacity: 0.5;
  }
}
.nav-item {
  color: white;
  &:hover {
    color: white;
    outline: 1px solid white;
    outline-offset: -1px;
  }
}
.link-color {
  color: black;
  &:hover {
    color: black;
  }
}
.card {
  background-color: #f4f4f4;
  flex-wrap: wrap;
  .footer-item {
    outline: 1px solid white;
  }
}
.card-pos {
  margin-top: 150px;
}

.card-header-title {
  display: block;
}

.columns {
  justify-content: center;
}
.column {
  border-color: white;
  border-style: solid;
  border-width: 5px;
  margin: 10px 10px 10px 10px;
}

.thingy {
  margin-top: 10px;
  margin-left: 0px;
}

.searchborder {
  margin-top: 150px;
}
.text-coloring {
  color: black;
}

.background-image {
  position: absolute;
  height: 360px;
  width: 100%;
  opacity: 0.7;
}