<% provide(:title, "Categories")%>
<h1 class="title has-text-centered">Categories</h1>
<div class="tabs is-centered">
  <ul>
    <li class="is-active">
  <% @categories.each do |category| %>
      <a>
        <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
        <span><%= category.name%></span>
      </a>
    </li>
  <% end %>
  </ul>
</div>

