<% provide(:title, "Categories")%>

<h1 class="title has-text-centered">Categories</h1>
<div class="tabs is-centered">
  <ul>
  <li class="is-active tablinks" onclick="openTab(event, 'All')">
    <a>All</a>
  </li>
  <% @categories.each do |category| %>
  <li class="tablinks" onclick="openTab(event, '<%= category.name %>' )">
  <a>
    <%= category.name %>
  </a>
  </li>
  <% end %>
  </ul>
</div>
<%= render 'categories/items' %>
<div id='All' class='tabcontent'>
<div class="card-pos card columns is-variable">
  <%= render 'categories/all' %>  
</div>
</div>
<script type="text/javascript"> 
function openTab(event, tabId) {
tabcontent = document.getElementsByClassName('tabcontent');
  for (i=0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = 'none';
  }
  tablinks = document.getElementsByClassName('tablinks')
  for (i=0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace('is-active', '');
  } 
  document.getElementById(tabId).style.display = 'block';
  event.currentTarget.className += "is-active";
}
</script>
