<h1 class="title">Create A New Category</h1>

<%= form_with model: @category, local: true do |f| %>
  <label class="label"<%= f.label :category %></label>
  <input class="input"<%= f.text_field :category, autofocus: true, autocomplete: "name" %>
<% end %>
<div class="columns">
    <div class="thingy column">
      <button class="button is-primary" type="submit">Create Category</button>
      <%= link_to "Back", :back, class: "button is-link is-light" %>
    </div>
  </div>