<%= form_with(url: categories_path, method: 'get', local: true) do |f| %>
<div class="field has-addons-centered">
<div class="field has-addons has-addons-centered searchborder">
  <p class="control">
    <span class="select is-large">
      <%= f.select(:category, options_for_select([['All', 'All'], *Category.all.map(&:name).zip(Category.all.map(&:name))]))%>
    </span>
  </p>
<div class="control">
  <%= f.text_field(:search, placeholder: "Search for Anything", class: "input is-large") %>
</div>
<div class=control>
  <%= f.submit "Search", class: "control button is-info is-large" %>
</div>
</div>
<% end %>
